<div class="logotype">
    <div class="row">
        <div class="col-md-1">
            <div class="logo">
                <img src="~/Content/BookStoreLogo.gif" style="width:100px;height:75px">
            </div>
        </div>
        <div class="col-md-2">
            <div class="adress">
                Наш адресс: Николаев,пр.Ленина 23
                телефон: xxx-xxx-xxx
            </div>
        </div>
        <div class="col-md-6">
            <div class="search-form">
                <form class="form-inline" role="search" method="post" action="/Home/Search">
                    <input type="text" class="form-control" name="query" placeholder="введите название книги, ее жанр или автора">
                    <div class="form-group">
                        <button type="submit" class="btn btn-info">
                            <span class="glyphicon glyphicon-search"></span>Поиск
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2">
            <div class="cart" id="ajaxCart">
                @Html.Partial("~/Views/Home/_CartPartial.cshtml")              
            </div>
        </div>
    </div>
</div>
