<div class="modal fade" id="AuthorEditModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Редактировать автора</h4>
            </div>
            <div class="modal-body">
                <form role="form" method="post" action="/Admin/EditAuthor">
                    <div class="form-group">
                        @Html.ValidationSummary(false)
                        <input class="form-control" type="hidden" name="id" id="authorid" value="">
                    </div>
                    <div class="form-group">
                        <label>Имя автора</label>
                        <input class="form-control" name="AuthorName" id="authorName" value="">
                    </div>
                    <div class="form-group">
                        <label>Кр. описание для автора</label>
                        <div class="AddBookTextarea">
                            <textarea class="form-control" rows="1" id="authorDesc" name="AuthorDescription" value=""></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Редактировать</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AddAuthorModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Добавить автора</h4>
            </div>
            <div class="modal-body">
                <form role="form" method="post" action="/Admin/AddAuthor">
                    <div class="form-group">
                        @Html.ValidationSummary(false)                       
                    </div>
                    <div class="form-group">
                        <label>Имя автора</label>
                        <input class="form-control" name="AuthorName">
                    </div>
                    <div class="form-group">
                        <label>Кр. описание для автора</label>
                        <div class="AddBookTextarea">
                            <textarea class="form-control" rows="1" name="AuthorDescription"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Добавить</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="GenreEditModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Редактировать жанр</h4>
            </div>
            <div class="modal-body">
                <form role="form" method="post" action="/Admin/EditGenre">
                    <div class="form-group">
                        @Html.ValidationSummary(false)
                        <input class="form-control" type="hidden" name="id" id="genreid" value="">
                    </div>
                    <div class="form-group">
                        <label>Название жанра</label>
                        <input class="form-control" name="GenreName" id="genreName" value="">
                    </div>
                    <div class="form-group">
                        <label>Кр. описание для жанра</label>
                        <div class="AddBookTextarea">
                            <textarea class="form-control" rows="1" id="genreDesc" name="GenreDescription" value=""></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Редактировать</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AddGenreModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Добавить жанр</h4>
            </div>
            <div class="modal-body">
                <form role="form" method="post" action="/Admin/AddGenre">
                    <div class="form-group">
                        @Html.ValidationSummary(false)
                    </div>
                    <div class="form-group">
                        <label>Название жанра</label>
                        <input class="form-control" name="GenreName">
                    </div>
                    <div class="form-group">
                        <label>Кр. описание для жанра</label>
                        <div class="AddBookTextarea">
                            <textarea class="form-control" rows="1" name="GenreDescription"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Добавить</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>