@{
    ViewBag.Title = "Home Page";
}


<div class="bar">
    <label class="testLabel">Enter testing site URL:</label>
    <input class="form-control testForm" placeholder="somesite.com" />
    <button class="btn btn-success runTest">Run test</button>
    <input class="form-control test-title-form" placeholder="please,insert test name/title" />
    <button class="btn btn-danger save">save</button>   
    <div class="annotation">
        <span>Save result?</span>
        <div class="annotation-arrow"></div>
    </div>
    
</div>


<div class="console-bar">
    <div class="console">
        <div class="console-header"><b>Console</b></div>
        <div class="console-body"></div>
    </div>
    <div class="stored-data">
        <div class="stored-data-header"><b>Stored data</b></div>
        <div class="stored-data-body">
            <table>
                <thead>
                    <tr>
                        <td>№</td>
                        <td class="table-title">Title</td>
                        <td class="table-date">Date</td>
                        <td></td>
                    </tr>
                </thead>
            @foreach(var data in ViewBag.data)
            {
                <tbody>
                    <tr>
                        <td>@data.Id</td>
                        <td class="table-title">@data.Title</td>
                        <td>@data.Date</td>
                        <td><button class="btn btn-info display-graphycaly" data="@data.Data">Display graphycaly</button></td>
                    </tr>
                </tbody>
            }
            </table>
        </div>
    </div>
</div>
<div class="site"></div>
<div id="compare-graphs"></div>
<div id="dynamic-graph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="dynamic-column"></div>

