<span class="icon-cart">
    <img src="~/Content/cart.png" style="width:20px;height:20px">
</span>
<a class="cart-href" href="/Home/Cart">Корзина</a>   
<strong class="cartPartial-totalQuantity">@Session["totalBooksQuantity"] товаров</strong>
<br />
<span class="space"></span>
<span class="sum">На сумму</span>
<strong class="cartPartial-totalPrice">@Session["totalPrice"] грн</strong>